.aboutContainer {
	padding-top: 2rem;
}

.aboutContainer > section {
	width: 80%;
	margin: 0 auto;
}
.aboutContainer > section > div > header {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 700;
}
.profileImageContainer {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
/* .profileImageContainer > div > img {
	box-shadow: 12px 12px 12px #666;
	border-radius: 5px;
	width: 384px;
	height: 384px;
} */
.profileImage {
	box-shadow: 12px 12px 12px #666;
	border-radius: 5px;
	width: 384px;
	height: 384px;
}
.aboutContainer > section > div > p {
	text-align: justify;
	letter-spacing: 1.25px;
}
.iconsContainer {
	padding-top: 1rem;
	width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.linkedInIcon,
.gitHubIcon {
	cursor: pointer;
	width: 48px;
	height: 48px;
}
.linkedInIcon:hover,
.gitHubIcon:hover {
	fill: #379683;
}
@media only screen and (max-width: 600px) {
	.aboutContainer > section > div > p {
		justify-content: start;
		letter-spacing: normal;
	}
	.profileImageContainer > div > img {
		width: 256px;
		height: 256px;
	}
	.linkedInIcon,
	.gitHubIcon {
		width: 24px;
		height: 24px;
	}
}
