.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 64px 32px;
	width: 400px;
	/* height: 560px; */
	min-height: 560px;
	border-radius: 8px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}
.image {
	max-height: 500px;
	height: auto;
	width: 100%;
	border-radius: 4px;
}
.tag {
	display: inline-block;
	border-radius: 16px;
	padding: 4px 6px;
	margin: 4px;
}
