.footerSection {
	bottom: 5%;
	width: 100%;
	height: 60px;
	position: static;
}
.iconsContainer {
	padding-top: 1rem;
	width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.linkedInIcon,
.gitHubIcon {
	cursor: pointer;
	width: 48px;
	height: 48px;
}
.linkedInIcon:hover,
.gitHubIcon:hover {
	fill: #379683;
}
@media only screen and (max-width: 600px) {
	.linkedInIcon,
	.gitHubIcon {
		width: 24px;
		height: 24px;
	}
}
