.navbar {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: space-evenly;
	align-content: center;
	margin: 0 auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.navbar div {
	display: inline-block;
	font-size: 2rem;
	height: 100%;
	padding: .5rem 0 .5rem 0;
}
.navbar div:hover {
	color: #feffff;
}
