:root {
	--color-black: #000000;
	--color-black-olive: #3b3c36;
	--color-black-charcoal: #333333;
	--color-black-ebony: #555d50;
	--color-blue: #242582;
	--color-indigo: #2f2fa2;
	--color-green-dark-pale: #1c3334;
	--color-green-light-forest: #379683;
	--color-orange-red: #f64c72;
	--color-brown-burgundy: #553d67;
	--color-tan-brown: #99738e;
	--color-off-white: #feffff;
	--color-white: #ffffff;
	--color-grey-light: #9598a1;
	--color-grey-ash: #b2beb5;
	--color-grey-slate: #b2beb5;
	--color-tan-light: #deb887;
	--color-tan-medium: #deb887;
	--color-tan-dark: #c19a6b;
}

* {
	font-family: 'Ubuntu', sans-serif;
}
body {
	/* background-color: var(--color-blue); */
	background-color: var(--color-grey-light);
	color: var(--color-white);
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* utility classes */
.cursor {
	cursor: pointer;
}
.flipX {
	transform: scale(-1, 1);
	transform-origin: center;
}
.flipXHalf {
	transform: rotate(-90deg);
}
.flipXOneAndHalf {
	transform: rotate(90deg);
}
.blackFill {
	fill: var(--color-black);
}
.blueFill {
	fill: #05386b;
}
.orangeRedFill {
	fill: var(--color-orange-red);
}
.blackCharcoalFill {
	fill: var(--color-black-charcoal);
}
.blackBackground {
	background-color: var(--color-black);
}
.blackCharcoalBackground {
	background-color: var(--color-black-charcoal);
}
.blackOliveBackground {
	background-color: var(--color-black-olive);
}
.blackEbonyBackground {
	background-color: var(--color-black-ebony);
}
.greyLightBackground {
	background-color: var(--color-grey-light);
}
.blueBackground {
	background-color: var(--color-blue);
}
.tanLightBackground {
	background-color: var(--color-tan-light);
}
.tanMediumBackground {
	background-color: var(--color-tan-medium);
}
.tanDarkBackground {
	background-color: var(--color-tan-dark);
}
.tanBrownBackground {
	background-color: var(--color-tan-brown);
}
.brownBurgundyBackground {
	background-color: var(--color-brown-burgundy);
}
.offWhiteBackground {
	background-color: var(--color-off-white);
}
.whiteColor {
	color: var(--color-white);
}
.blackColor {
	color: var(--color-black);
}
.indigoColor {
	color: var(--color-indigo);
}
.greenDarkPaleColor {
	color: var(--color-green-dark-pale);
}
.greenLightForestColor {
	color: var(--color-green-light-forest);
}
.greyAshColor {
	color: var(--color-grey-ash);
}
.greySlateColor {
	color: var(--color-grey-slate);
}
